# Ignore everything
*

# Allow specific files
!.gitignore
!.env.example
!package.json
!package-lock.json

# Allow specific folders
!business/
!persistence/
!presentation/
!public/
!views/

# Inside allowed folders, ignore everything again
business/*
persistence/*
presentation/*
public/*
views/*

# But allow their specific files (example)
!business/**/*.js
!persistence/**/*.js
!presentation/**/*.js
!public/**/*.*
!views/**/*.*

